:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  color: #312d64;

  background: #f9f4fb;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  color: #b52184;
  font-weight: 900;
}

p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 600;
}

.linear-gradient-bg {
  background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
}

main {
  text-align: center;
}

main img {
  width: 36.4rem;
  margin-bottom: 1.8rem;
}

main h1 {
  font-size: 3.2rem;
  line-height: 4rem;

  margin-bottom: 0.6rem;
}

main p {
  margin-bottom: 4rem;
}

.arrow-down {
  display: inline-block;
  padding: 2.8rem 1.6rem;
  margin-bottom: 10rem;
  border: 0.4rem solid #b52184;
  border-radius: 5rem;
  color: #b52184;

  font-size: 4rem;
}

.arrow-down i {
  animation: arrow-down 2s infinite;
}

.features {
  padding: 5rem 4rem;
}

.features div {
  background: #fff;
  padding: 2.6rem;
  border-radius: 2rem;
}

.features div + div {
  margin-top: 5rem;
}

.features img {
  width: 8rem;
  margin-bottom: 3.2rem;
}

.features h2 {
  font-size: 3rem;
  margin-bottom: 1.8rem;
  line-height: 2rem;
}

.contact {
  padding: 6rem 4rem;
}
.contact h2 {
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 4rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  margin-bottom: 6.4rem;
}

.contact form input {
  width: 100%;
  padding: 1.6rem;
  padding-left: 4.4rem;
  border-radius: 1.6rem;
  border: 0.2rem solid #312d64;
  font-size: 1.6rem;
}

.contact form input:focus,
.contact form textarea:focus {
  outline: none;
  border-color: #b52184;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #312d64;
}

.input-wrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 1.6rem;
  transform: translateY(-50%);

  font-size: 2.4rem;
  color: #b52184;
}

.contact form textarea {
  height: 12.6rem;
  padding: 1.2rem 1.6rem;
  border-radius: 1.6rem;
  border: 0.2rem solid #312d64;
  font-size: 1.6rem;
  resize: none;
}

.contact form button {
  padding: 1.6rem;
  border-radius: 1.6rem;
  border: none;
  width: 50%;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.contact form button:hover {
  background: linear-gradient(96.21deg, #28257e 0%, #24214e 99.68%);
}

footer {
  padding: 3.2rem 1.6rem;

  color: #fff;
  text-align: center;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 122rem;
    margin: 0 auto;
  }
  .main-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    margin: 0 4rem;
    height: 100vh;
  }
  .main-content img {
    width: 72rem;
  }
  .main-content div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .main-content h1 {
    font-size: 6rem;
    line-height: 7rem;
  }
  .main-content p {
    font-size: 3.2rem;
    line-height: 4rem;

    margin-bottom: 24rem;
  }
  .features {
    display: flex;
    gap: 6.4rem;

    height: 57.6rem;
  }
  .features div {
    width: 36.6rem;
  }
  .features div + div {
    margin-top: 0;
  }
  .features h2 {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  .contact {
    background: url("https://i.ibb.co/v4nsNGW/decoration.png") no-repeat right;
    background-size: contain;
  }
  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
  .form-wrapper h2 {
    font-size: 4.2rem;
    line-height: 5rem;
    margin-top: 6rem;
  }
  .form-wrapper form {
    max-width: 50%;
  }
}
